.describe {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100px;
  margin-right: auto;
}

.describe > thead > tr > th {
  background-color: royalblue;
  padding: 10px;
  text-align: left;
  color: white;
}

th,
td {
  padding: 8px;
  text-align: left;
}
